{% extends "layout.html" %} {% block title %} Read {% endblock %} {% block main
%}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Time</th>
      <th scope="col">Category</th>
      <th scope="col">Amount</th>
      <th scope="col">Price</th>
      <th scope="col">TOTAL</th>
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
    <tr>
      <td>{{ row[4].strftime("%Y-%m-%d") }}</td>
      <td>{{ row[1] }}</td>
      <td>{{ row[2] }}</td>
      <td>{{ row[3] }}</td>
      <td>{{ row[3] * row[2] }}</td>
    </tr>
    {% endfor %}
    <tr>
      <td><strong>TOTAL SPEND</strong></td>
      <td></td>
      <td></td>
      <td></td>
      <td>{{ sum }}</td>
    </tr>
  </tbody>
</table>
{% endblock %}
